
.search {
    display               : grid;
    gap                   : 10px;
    padding               : 0 10px;
    transition            : 1s all ease-in-out;
    input {
        background: none;
        max-width: 125px;
    }
    .icon {
        cursor: pointer;
    }
}