@import url('https://fonts.googleapis.com/css2?family=Exo:wght@100;400;600&family=Jura:wght@300;400;600&display=swap');
$primary: white;

body {
    min-height       : 100vh;
    background-color : black;
    padding          : 0;
    color            : $primary;
    font-family      : 'Exo', 'Jura';
}
p, h1, h2, h3, h4 {
    margin: 0;
}

p {
    font-size: 20px;
}

a, li {
    cursor: pointer;
}

ul {
    padding: 0;
}

.page {
    overflow-y : scroll;
}

.spotify-web-player {
    padding : 2em 0;
    display : flex;
    width   : 98%;
    margin  : 0 auto;
}