@import url('https://fonts.googleapis.com/css2?family=Exo:wght@100;400;600&family=Jura:wght@300;400;600&display=swap');
$primary: white;

body {
    min-height       : 100vh;
    background-color : black;
    padding          : 0;
    color            : $primary;
    font-family      : 'Exo', 'Jura';
}
p, h1, h2, h3, h4 {
    margin: 0;
    transition: all 1s ease-out;
}

p {
    font-size: 24px;
}

a, li {
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

ul {
    padding: 0;
    list-style : none;
}

.page {
    overflow-y : scroll;
    // padding-bottom: 200px;
}

.fixed-footer {
    position         : fixed;
    bottom           : 0;
    width            : 100%;
    background-color : black;
}


a {
    text-decoration : none;
    color           : white;
}
