@import url('https://fonts.googleapis.com/css2?family=Exo:wght@100;400;600&family=Jura:wght@300;400;600&display=swap');
$primary: white;

body {
    min-height       : 100vh;
    background-color : black;
    padding          : 0;
    color            : $primary;
    font-family      : 'Exo', 'Jura';
}
p, h1, h2, h3, h4 {
    margin: 0;
}

p {
    font-size: 20px;
}

a, li {
    cursor: pointer;
}

ul {
    padding: 0;
}

.page {
    overflow-y : scroll;
}

.fixed-footer {
    position         : fixed;
    bottom           : 0;
    width            : 100%;
    background-color : black;
}

.spotify-web-player {
    margin     : 0 auto;
    position   : relative;
    bottom     : 0;
    width      : 100%;
    color      : white;
    max-width  : 75em;
    text-align : center;
}