.user-top-artists {
    display               : grid;
    grid-gap              : 10px;
    grid-template-columns : repeat(auto-fill, minmax(300px, 1fr) ) ;
    .artist {
        min-height      : 300px;
        background-size : cover;
        background-position: center top;
    }
}

a {
    text-decoration: none;
    color: white;
}