.songs {
    .tracks {
        min-height          : 300px;
        background-size     : cover;
        background-position : center top;
    
        .track-name {
            text-transform : capitalize;
        }
    }
    .track {
        .info {
            .title {
                text-transform: capitalize;
            }
        }
    }

    .lyrics {
        
    }
}