.songs {
    margin : 1em 2em;
    .tracks {
        min-height          : 300px;
        background-size     : cover;
        background-position : center top;
    
        .track-name {
            text-transform : capitalize;
        }
    }
    .track {
        .info {
            padding : 0 0 0.5em;
            .title, .artist {
                text-transform : capitalize;
                margin         : 0;
            }
        }
    }

    .sun-editor-editable {
        p {
            margin    : 0;
            font-size : 20px;
            color     : white;
        }
    }
    .sun-editor {
        .se-toolbar, .se-wrapper-wysiwyg  {
            background-color : black;
        }
        .se-tooltip {
            background : #ffe5e5;
            outline: none;
        }
    }
    .sun-editor .se-resizing-bar {
        display: none;
    }
    .lyrics {
        
    }
}