.page {
    text-align      : center;
    display         : flex;
    flex-direction  : column;
    justify-content : center;
    min-height      : 75vh;
}
.home {
    justify-content : center;
    align-items     : center;
}

.track-image {
    min-width: 100px;
    margin: 2em;
}