.lyrics {
    margin    : 1em auto;
    max-width : 70em;
    .tracks {
        min-height          : 300px;
        background-size     : cover;
        background-position : center top;
    
        .track-name {
            text-transform : capitalize;
            cursor         : pointer;
        }
    }
    .track {
        display         : flex;
        justify-content : center;
        .editor-wrapper {
            z-index : 0;
        }
        .info {
            padding         : 0 0 0.5em;
            display         : flex;
            justify-content : space-around;
            align-items     : flex-start;
            flex-direction  : column;
            .title, .artist {
                text-transform : capitalize;
                margin         : 0;
            }
            .edit {
                font-size  : 20px;
                cursor     : pointer;
                padding    : 10px 0;
                text-align : left;
                display    : flex;
                align-self : flex-end;
            }
        }

        .analysis-type {
            display         : flex;
            flex-direction  : column;
            align-items     : center;
            text-align      : center;
            height          : 60vh;
            justify-content : space-evenly;
            font-size       : 15px;
            margin          : 2em 1em;
        }
    }

    .sun-editor-editable {
        p {
            margin    : 0;
            font-size : 20px;
            color     : white;
        }
    }
    .sun-editor {
        transition: all 1s;
        @media screen and (min-width: 1024px) {   
            min-width: 55em;
         }
        .se-toolbar, .se-wrapper-wysiwyg  {
            background-color : black;
        }
        .se-tooltip {
            background : #ffe5e5;
            outline    : none;
        }
    }
    .sun-editor .se-resizing-bar {
        display: none;
    }
}