
.sidebar {
    display         : flex;
    flex-direction  : column;
    align-items     : center;
    height          : 125px;
    justify-content: space-evenly;

    @media screen and (min-width: 1024px) {   
        height : 150px;
    }

    .title {
        @media screen and (min-width: 1024px) {   

        }

        h1 {
            transition: all 1s ease-out;
            font-size : 20px;
            @media screen and (min-width: 1024px) {   
                font-size: 36px;
            }
        }
    }

    li {
        list-style-type : none;
    }
    a {
        color           : white;
        text-decoration : none;
        padding         : 7px;
        font-size       : 12px;
        @media screen and (min-width: 767px) {   
            font-size: 20px;
        }
    }
    .search {
        display               : grid;
        gap                   : 10px;
        grid-template-columns : 1fr 20%;
        input {
            background: none;
            max-width: 125px;
        }
        .icon {
            cursor: pointer;
        }
    }
    .links {
        display         : flex;
        justify-content : space-evenly;
        width           : 100%;
        align-items     : center;
        max-width       : 50em;

        @media screen and (min-width: 1024px) {   
            flex-direction  : column;
            // text-align      : left;
            // align-items     : flex-start;
            justify-content : space-around;
        }
    }

}